<div class="container-fluid">
  <div class="row">
    <div class="span8">
      <div class="span-container">
       <h2>Build Your Schedule</h2>
       <%= form_tag({}, {:method => :post, id: "sform"}) do %>

       <div>
        <div style="float:left">
          <%= label_tag(:term_label, "Term:") %>
          <select name="term_code" id="term_code">
            <%= options_for_select([["Fall 2014","201409"],["Summer I 2014", "201406"],["Summer II 2014", "201407"]], @term_code)%>
          </select>
        </div>
        <div style="float:left;padding-left:15px">
          <%= label_tag(:after_label, "Earliest:") %>
          <select name="earliest" class="time">
            <%= options_for_select([["Any Time","0"],["8:00 AM", "08:00"],["8:30 AM", "08:30"],["9:00 AM", "09:00"],["9:30 AM", "09:30"],["10:00 AM", "10:00"],["10:30 AM", "10:30"], ["11:00 AM", "11:00"]], @earliest)%>
          </select>
        </div>
        <div style="float:left;padding-left:15px">
          <%= label_tag(:before_label, "Latest:") %>
          <select name="latest" class="time" selected=<%=@latest%>>
            <%= options_for_select([["Any Time","0"],["3:00 PM", "15:00"],["3:30 PM", "15:30"],["4:00 PM", "16:00"],["4:30 PM", "16:30"],["5:00 PM", "17:00"],["5:30 PM", "17:30"], ["6:00 PM", "18:00"]], @latest)%>
          </select>
        </div>
        <div style="float:left;padding-left:15px">
          <%= label_tag(:before_label, "No 8 AM's") %>
          <div class="roundCheck">
            <input name="no8am" type="checkbox" id="roundCheck" <%="checked" if @no8am%>/>
            <label for="roundCheck"></label>
          </div>
        </div>
      </div>


      <br/> 


      <div style="float:left">
        <br/>
        <%= label_tag(:course_codes_label, "Courses You Want ― Subject Codes") %>
        <%= label_tag(:sc_invalid, "Invalid Subject #{"Code".pluralize(@scs.size - @valid_scs.size)}", style:"color:#FF0000") if @valid_scs && @valid_scs.size < @scs.size%>

        <div id='sc_inputs'>
          <% count = if @scs && @scs.size > 6 then @scs.size else 6 end%>
          <%= hidden_field_tag "sc_count", count, { :id => "sc_count" } %>

          <% count.times do |i| %>
          <% value = if @scs then @scs[i] else nil end %>
          <% style_class = if value && !@valid_scs.include?(value) then "schedule_input_invalid" else "schedule_input" end %>
          <% placeholder = if i == 0 then "e.g. math-1014" else nil end %>
          <%= text_field_tag "sc_" + i.to_s, value, { :id => "sc_" + i.to_s,
            :class => style_class, :maxlength => "12", :placeholder => placeholder} %>
            <% end %>
          </div>
          <a class="btn btn-success" type="button" id="addCourse"><b>+</b></a>
          <a class="btn btn-danger" type="button" id="delCourse"><b>-</b></a>
        </div>


        <br/>


        <div style="float:left">
          <br/>
          <%= label_tag(:crns_label, "Courses You're Already In ― CRNs") %>
          <%= label_tag(:crn_invalid, "Invalid #{"CRN".pluralize(@crns.size - @valid_crns.size)}", style:"color:#FF0000") if @valid_crns && @valid_crns.size < @crns.size%>

          <div id='crn_inputs'>
            <% count = if @crns && @crns.size > 6 then @crns.size else 6 end%>
            <%= hidden_field_tag "crn_count", count, { :id => "crn_count" } %>

            <% count.times do |i| %>
            <% value = if @crns then @crns[i] else nil end %>
            <% style_class = if value && !@valid_crns.include?(value) then "schedule_input_invalid" else "schedule_input" end %>
            <% placeholder = if i == 0 then "e.g. 88243" else nil end %>
            <%= text_field_tag "crn_" + i.to_s, value, { :id => "crn_" + i.to_s, :class => style_class, :maxlength => "5", 
              :placeholder => placeholder, onkeypress:"return isNumberKey(event)"}%>
              <% end %>
            </div>
            <a class="btn btn-success" type="button" id="addCRN"><b>+</b></a>
            <a class="btn btn-danger" type="button" id="delCRN"><b>-</b></a>
          </div>



          <%= submit_tag("Make Schedule", class: "btn btn-primary", style: "float:right") %>
          <% end %>
        </div>
      </div>


      <div class="span4" style="float:left">
        <div class="span-container">

          <h2>Get Notified When A Seat Opens Up</h2>
          <h3>COMING SOON...</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint oscaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

      </div>
    </div>

  <%if @schedule%>
  <br/>
    <div class="row">
      <div class="span12">
        <div class="span-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>CRN</th>
                <th>Course</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Location</th>
                <th>Days</th>
                <th>Begin</th>
                <th>End</th>
                <th>Links</th>
              </tr>
            </thead>

            <tbody>
              <% @schedule.each do |course| %>
              <tr>
                <td><a href="<%= course.banner_url%>"></a><%= course.crn %></td>
                <td><%= course.subject_code %></td>
                <td><%= course.title %></td>
                <td><%= course.instructor %></td>
                <td><%= course.location %></td>
                <td><%= course.days %></td>
                <td><%= course.pretty_begin %></td>
                <td><%= course.pretty_end %></td>
                <td>Links</td>
              </tr>
              <% course.additional_times.each do |at| %>
              <tr>
                <td colspan="4" style="text-align:center"> --- Additional Times --- </td>
                <td><a href="<%= course.banner_url%>"></a><%= at.location %></td>
                <td><%= at.days %></td>
                <td><%= at.pretty_begin %></td>
                <td><%= at.pretty_end %></td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>    
      </div>
    </div>
  <% end %>
</div>




    <script type="text/javascript">

    var nextscId = $("#sc_count:hidden").val();
    $("#addCourse").on("click",function(){
      if (nextscId < 12){
        $("#sc_inputs").append("<input type='text' name='sc_"+nextscId+"' id='sc_"+nextscId+"' maxlength='12' class='schedule_input'/> ");
        nextscId++;
        $("#sc_count:hidden").val(""+nextscId);
      }

    });

    $("#delCourse").click(function () {
      if(nextscId > 6){
       nextscId--;
       $("#sc_count:hidden").val(""+nextscId);
       $("#sc_" + nextscId).remove();
     }
   });

    var nextCRNId = $("#crn_count:hidden").val();
    $("#addCRN").on("click",function(){
      if (nextCRNId < 12){
        $("#crn_inputs").append("<input type='text' name='crn_"+nextCRNId+"' id='crn_"+nextCRNId+"' maxlength='5' onkeypress='return isNumberKey(event)' class='schedule_input'/> ");
        nextCRNId++;
        $("#crn_count:hidden").val(""+nextCRNId);
      }
    });

    $("#delCRN").click(function () {
      if(nextCRNId > 6){
       nextCRNId--;
       $("#crn_count:hidden").val(""+nextCRNId);
       $("#crn_" + nextCRNId).remove();
     }
   });

    $("tr").click(function() {
      var link = $(this).find("a");

      link.attr("target", "_blank");
      if (link.attr("href")){
        window.open(link.attr("href"));  
      }


      return false;
    });

    function isNumberKey(evt){
      var charCode = (evt.which) ? evt.which : event.keyCode
      if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
      return true;
    }

    $(document).ready(function(){
      var $window = $(window);
      var $bgobj = $('body[id="main-body"]');
      $(window).scroll(function() {
          var yPos = -($window.scrollTop() / 2); 
          var coords = '50% '+ yPos + 'px';
          $bgobj.css({ backgroundPosition: coords });
      });    
    });

    </script>


